<%= bootstrap_form_for [@flight] do |f| %>
<br>
<h4>Pick A Date</h4><hr>

  <div class="field form-group col-md-4">
    <%= f.select(:day, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12', 12], ['13', 13], ['14', 14], ['15', 15], ['16', 16], ['16', 16], ['17', 17], ['18', 18], ['19', 19], ['20', 20], ['21', 21], ['22', 22], ['23', 23], ['24', 24], ['25', 25], ['26', 26], ['27', 27], ['29', 29], ['30', 30], ['31', 31], ])) %>
  </div>

  <div class="field form-group col-md-4">
    <%= f.select(:month, options_for_select([['January'], ['Feburary'], ['March'], ['April'], ['May'], ['June'], ['July'], ['August'], ['September'], ['October'], ['November'], ['December'] ])) %>
  </div>

  <div class="field form-group col-md-4">
    <%= f.select(:year, options_for_select([['2015'], ['2016'], ['2017'], ['2018'], ['2019'], ['2020'] ])) %>
  </div>
  <div class="dont-center">

  <div class="field form-group">
    <%= f.fields_for :fromflight do |p| %>
      <%= p.text_field :airport, label: "Which Airport Are You Flying From?" %>
    <% end %>
  </div>
  <div class="field form-group">
    <%= f.fields_for :toflight do |t| %>
      <%= t.text_field :airport, label: "Which Airport Are You Flying Into?" %>
    <% end %>
  </div>


  <div class="field form-group">
    <%= f.text_area :description %>
  </div>

  <div class="field form-group">
    <%= f.hidden_field :deal, value: false %>
  </div>

  <div class="actions form-group centered">
    <%= f.submit "Submit Flight", class:"submitter" %>
  </div>
<% end %>


</div>
