<%= javascript_tag do %>
  comingLat = <%= @flight.fromflight.latitude %>
  comingLng = <%= @flight.fromflight.longitude %>
  goingLat = <%= @flight.toflight.latitude %>
  goingLng = <%= @flight.toflight.longitude %>
<% end %>

<div class="container">
    <div class="col-md-2">
      <%= image_tag @flight.user.avatar.url(:thumb), :class => "imag" %>
    </div>
    <div class="col-md-10">
      <h1> <%= @flight.user.fullname %>'s Itinerary </h1>
    </div>
  <div class="col-md-12">
    <h3>Description: <%= @flight.description %></h3><hr>
  </div>


  <div id="flightInfo">
      <div class="col-md-4">
        <h5>Flying From: <%= @flight.fromflight.airport %> </h5><br>
        <div id="frommap" class="littleMaps centered"></div>
      </div>
      <div class="col-md-4 centered">
        <br><br><br>
        <% if current_user.id != @flight.user.id %>
          <%= link_to "Request them to bring an item", new_flight_request_path(@flight), class:"btn btn-default" %>
        <% elsif current_user.id == @flight.user.id %>
          <%= link_to "Edit Flight", edit_flight_path, class: "btn btn-default buttn", id:"editflight", remote: true %>
            <br><br>
          <%= link_to "Delete", flight_path(@flight), class: "btn btn-default buttn",
                                 :data => {:confirm => "Ya sure mate?",
                                           :method => "delete"} %>
        <% end %>
      </div>
      <div class="col-md-4 ">
        <div class="todestination">
          <h5>Flying into: <%= @flight.toflight.airport %></h5><br>
          <div id="tomap" class="littleMaps centered"></div>
        </div>
      </div>
      <br><br>
    </div>

    <div id="flightRender">
      <%= render 'flightAlone' %>
      <button class="btn btn-default" id="goBack">Nevermind</button>
    </div>
</div>
