<div class="container">
  <div class="tabletxt">
    <h2>Flights</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Flying From</th>
          <th>Flying To</th>
          <th>Date Of Flight:</th>
          <th>Flight Page</th>
        </tr>
      </thead>
      <tbody>
        <% @flights.each do |flight| %>
          <tr>
            <td> <%= link_to flight.user.fullname, user_path(flight.user) %> </td>
            <td> <%= flight.fromflight.airport %> </td>
            <td> <%= flight.toflight.airport %> </td>
            <td> <%= flight.fulldate %> </td>
            <td> <%= link_to "View", flight_path(flight), class:"btn btn-default" %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="container">
  <h2>Potential Flight Deliveries</h2><hr>
    <div class="list_text_size">
      <% @flights.each do |flight| %>
        <% unless flight.deal == true  %>
          <div class="delivery_index">
            <ul>
                <li><%= flight.user.fullname %>'s <%= link_to "Flight", flight_path(flight) %> From: <%= flight.fromflight.airport %>, To: <%= flight.toflight.airport %> on <%= flight.fulldate %></li><br>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
</div> -->
