
<% if current_user.id == @flight.user.id %>
      <div class="container">
        <% if @deal.flightdeal == true && @deal.requestdeal == false %>
          <div class="centered">
            <h2> Still Waiting To See If <%= @request.user.fullname %> wants you to bring their <%= @request.item.itemname %> </h2><hr>
          </div>
        <% elsif @deal.flightdeal == false && @deal.requestdeal == true %>
          <div class="centered">
            <h2><%= @request.user.fullname %> Wants You To Bring Their <%= @request.item.itemname %> </h2>
          </div>
        <% elsif @deal.flightdeal == true && @deal.requestdeal == true %>
          <div class="centered">
            <h1> Confirmed: You are bringing <%= link_to @request.user.fullname, user_path(@request.user) %>'s <%= @request.item.itemname %>! </h1><hr>
          </div>
        <% end %>
          <table class="table table-bordered">
            <div class="col-md-12">
              <tbody>
                <tr>
                  <div class="col-md-3">
                    <td><%= image_tag @request.user.avatar.url(:thumb), class:"roundThumb" %></td>
                  </div>
                  <div class="col-md-6">
                    <div class="centered">
                      <td> <%= @request.item.itemdescription %> </td>
                    </div>
                  </div>
                  <div class="col-md-3 fright">
                    <td><%= image_tag @request.item.itemimage.url(:thumb), class:"roundThumb fright" %></td>
                  </div>
                </tr>
              </tbody>
            </div>
          </table>
            <div class="col-md-12 buttonUnite">
              <div class="col-md-1"></div>
              <div class="col-md-4 centered">
                  <h5>Flying From: <%= @flight.fromflight.airport %> </h5><br>
                  <div class="fromLat" data-lat="<%= @flight.fromflight.latitude %>"></div>
                  <div class="fromLng" data-lng="<%= @flight.fromflight.longitude %>"></div>
                  <div id="frommap" class="littleMaps"></div>
              </div>
              <div class="col-md-2 ">
                <br><br><br>
                <% if @deal.flightdeal == false && @deal.requestdeal == true %>
                  <button class="btn btn-primary centered otherbuttn" data-toggle="modal" data-target="#modalGo">I'll Take It!</button>
                  <button class="btn btn-warning centered otherbuttn" data-toggle="modal" data-target="#modalNo">No Thanks</button>
                <% elsif @deal.flightdeal == true && @deal.requestdeal == false %>
                  <br><br><br>
                  <button class="btn btn-warning centered otherbuttn" data-toggle="modal" data-target="#modalNever">Nevermind</button>
                <% end %>
              </div>
              <div class="col-md-4 centered">
                <h5>Flying To: <%= @flight.toflight.airport %> </h5><br>
                <div class="toLat" data-lat="<%= @flight.toflight.latitude %>"></div>
                <div class="toLng" data-lng="<%= @flight.toflight.longitude %>"></div>
                <div id="tomap" class="littleMaps"></div>
              </div>
              <div class="col-md-1"></div>
            </div>
              <div class="modal" id="modalGo">
                <div class="modal-dialog1">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">Delivery Confirmation</h3>
                      <div class="modal-body">
                        <p>Are you sure you want to take  <%= @request.user.fullname %>'s <%= @request.item.itemname %>? </p>
                        <%= link_to "Let Them Take It", request_flight_path(@request, @flight, toggle:true), method: :patch, class:'btn btn-primary'%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="modal" id="modalNo">
              <div class="modal-dialog1">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Delivery Confirmation</h3>
                    <div class="modal-body">
                      <p>Sure You Don't Want To Take <%= @request.user.fullname %>'s <%= @request.item.itemname %> ? </p>
                      <%= link_to "I'm Sure", request_flight_path(@request, @flight, toggle:false), method: :patch, class:'btn btn-primary'%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal" id="modalNever">
              <div class="modal-dialog1">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title">Take Back The Offer</h3>
                    <div class="modal-body">
                      <p>Are You Sure You Want To Take Back Your Offer Of Taking <%= @request.user.fullname %>'s <%= @request.item.itemname %></p>
                      <%= link_to "I'm Sure", flight_request_path(@flight, @request, toggle:false), method: :patch, class:'btn btn-primary'%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>


        </div>


<% end %>
