<!-- <% if @user.requests.any? %>
  <% @user.requests.each do |request| %>
    <div class="centered">
      <h4><%= image_tag request.item.itemimage.url(:thumb)%> <%= link_to request.item.itemname, request_path(request) %> || <%= request.fromrequest.airport %> || <%= request.torequest.airport %> || Between <%= request.monthstart %> <%= request.daystart %>, <%= request.yearstart %> - <%= request.monthend %> <%= request.dayend %>, <%= request.yearend %> </h4>
    </div> -->
      <!-- <% if current_user.id == request.user.id %>
        <h3>Delivery Offers:</h3>
          <% request.flights.each do |flight| %>
            <% if flight.deal == true %>
              <%= link_to flight.user.fullname, user_path(flight.user) %>'s <%= link_to 'Offer', request_flight_path(request, flight) %>
            <% end %>
          <% end %>
      <% end %> -->

      <!-- <% if @user.flights.any? %>
        <% @user.flights.each do |flight| %>
          <div class="centered">
            <h4> Coming From: <%= flight.fromflight.airport %>, Going To: <%= flight.toflight.airport %>, on <%= flight.fulldate %> <%= link_to "View Flight", flight_path(flight), class:"btn btn-default" %> </h4>
          </div>
            <% if current_user.id == flight.user.id %>
              <h4> Requests for This flight:</h4>
                <% flight.requests.each do |request| %>
                  <% if request.deal == true %>
                    <%= link_to request.user.fullname, user_path(request.user) %>'s <%= link_to "Request", flight_request_path(flight, request) %>
                  <% end %>
                <% end %>
            <% end %>
        <% end %>
      <% end %> -->


          <div class="col-md-12 marginB bordered">
            <div class="centered">
              <% if current_user.id == @user.id %>
                <h4>Your Flights </h4>
              <% else %>
                <h4><%= @user.fullname %>'s Flights</h4>
              <% end %>
            </div>
            <% if @user.flights.where(done:false).any? %>
              <table class="table">
                <thead>
                  <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Page</th>
                    <% if current_user.id == @user.id  %>
                      <th>Requests?</th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @user.flights.each do |flight| %>
                    <% unless flight.done == true %>
                        <tr>
                          <td><%= flight.fromflight.airport %> </td>
                          <td><%= flight.toflight.airport %> </td>
                          <td><%= flight.fulldate %></td>
                          <td><%= link_to "View", flight_path(flight), class:"btn btn-default" %> </td>
                            <% if flight.requests.any? && current_user.id == @user.id %>
                              <% flight.requests.each do |request| %>
                                <% request.deals.each do |deal| %>
                                  <% if deal.requestdeal == true %>
                                    <td><button class="btn btn-primary" data-toggle="modal" data-target="#modalRequest">Requests</button><td>
                                      <div class="modal" id="modalRequest">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h3 class="modal-title centered">Offers</h3>
                                              <div class="modal-body">
                                                <table class="table table-bordered">
                                                  <thead>
                                                    <tr>
                                                      <th></th>
                                                      <th>User</th>
                                                      <th>Item</th>
                                                      <th>Itinerary</th>
                                                      <th>Date</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td><%= image_tag request.item.itemimage.url(:pin), class: "roundThumb" %></td>
                                                      <td><%= link_to request.user.fullname, user_path(request.user) %> </td>
                                                      <td><%= request.item.itemname %> </td>
                                                      <td> <%= link_to "#{request.torequest.airport} - #{request.fromrequest.airport}", request_flight_path(request, flight) %> </td>
                                                      <td><%= request.startdate %> - <%= request.enddate %> </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </tr>
                    <% end %>
                </tbody>
              </table>
            <% elsif current_user.id == @user.id %>
              <div class="centered">
                <%= link_to "Post A Flight", new_flight_path, class:"btn btn-warning buttnmargin"   %>
              </div>
            <% else %>
              <div class="centered">
                <h5>No Flights Currently</h5>
              </div>
            <% end %>
          </div>
