
<div class="row">
    <div class='asdf container' style="background-image: url(<%= @user.coverphoto.url %>);">
      <div class="col-md-3 nameAndpic">
        <%= image_tag @user.avatar.url(:medium), :class => "imag" %><hr>
        <h2><%= @user.firstname %> <%= @user.lastname %></h2><hr>
      </div>
    </div>
</div>
<div class='container'>
        <%= link_to 'Edit Cover Photo', edit_user_registration_path %>

      <div class="row">
        <h2><%= @user.firstname %>'s Requests </h2><hr>
        <% if @user.requests.any? %>
            <% @user.requests.each do |request| %>
              <h3><%= image_tag request.item.itemimage.url(:thumb)%> <%= link_to request.item.itemname, request_path(request) %> || <%= request.fromcountry %> || <%= request.airport %> || Between <%= request.monthstart %> <%= request.daystart %>, <%= request.yearstart %> - <%= request.monthend %> <%= request.dayend %>, <%= request.yearend %> </h3>   <button class="btn btn-danger">Take Item</button>
                <% if request.answers.any? %>
                    <% request.answers.each do |answer| %>
                        <h4>See <%= link_to answer.user.fullname , request_answer_path(request, answer) %>'s offer</h4>
                    <% end %>
                <% end %>
            <% end %>
        <% else %>
          <h3>No Requests Made</h3>
        <% end %>
      </div>

      <div class="row contact" >
        <h2>Contact Information</h2>
        <h4><%= @user.fullname %> </h4>
        <h5><%= @user.email %></h5>
        <h5> <%= @user.territory %>, <%= @user.country %> </h5>
      </div>
</div>
