
<div class="row">
    <div class='asdf container' style="background-image: url(<%= @user.coverphoto.url %>);">
      <div class="col-md-3 nameAndpic">
        <%= image_tag @user.avatar.url(:medium), :class => "imag" %><hr>
        <h2><%= @user.fullname %></h2><hr>
      </div>
    </div>
</div>
<div class='container'>
  <% if current_user.id == @user.id %>
        <%= link_to 'Edit Cover Photo', edit_user_registration_path %>
  <% end %>
      <div class="row">
        <div class="requestArea">
          <h2><%= @user.firstname %>'s Requests </h2><hr>
          <% if @user.requests.any? %>
              <% @user.requests.each do |request| %>
                <h3><%= image_tag request.item.itemimage.url(:thumb)%> <%= link_to request.item.itemname, request_path(request) %> || <%= request.fromcountry %> || <%= request.airport %> || Between <%= request.monthstart %> <%= request.daystart %>, <%= request.yearstart %> - <%= request.monthend %> <%= request.dayend %>, <%= request.yearend %> </h3>
                <% if current_user.id != request.user_id %>
                  <%= link_to "Request To Take Item", new_request_answer_path(request), class: "btn btn-danger" %>
                <% end %>
                  <% if request.answers.any? && current_user.id == request.user_id  %>

                    <h4>Potential Opportunities</h4><hr>
                      <% request.answers.each do |answer| %>
                        <% if answer.deal == false %>
                          <%= link_to "Potential Deal", request_answer_path(request, answer) %> With <%= link_to answer.user.fullname, user_path(answer.user) %>
                          <% else %>
                          <p>No Potential Deals</p>
                        <% end %>
                      <% end %>

                    <h4>Those who have already agreed to take your Item</h4><hr>
                      <% request.answers.each do |answer| %>
                        <% if answer.deal == true %>
                          <h4>See <%= link_to answer.user.fullname, user_path(answer.user)  %>'s <%= link_to 'offer', request_answer_path(request, answer) %></h4>
                        <% else %>
                          <p>No One Is Down Yet</p>
                          <br>
                        <% end %>
                      <% end %>
                  <% end %>
              <% end %>
          <% else %>
            <h3>No Requests Made</h3>
          <% end %>
        </div>
      </div>
      <div class="row">
        <h2>Outgoing Flights</h2><hr>
        <% if @user.answers.any? %>
            <% @user.answers.each do |answer| %>
              <h3> Coming From: <%= answer.fromcountry %>, Going To: <%= answer.toairport %>, on <%= answer.fulldate %> <%= link_to "View Request", answer_path(answer), class:"btn btn-default" %> </h3>
              <% if current_user.id != answer.user_id %>
                <%= link_to "Request To Have Item Brought", new_answer_request_path(answer), class: "btn btn-default" %>
              <% end %>
                <% if answer.requests.any? && current_user.id == answer.user_id %>
              <h4>Potential Carry Ons</h4>
                    <% answer.requests.each do |request| %>
                        <h4>See <%= link_to request.user.fullname, user_path(request.user)  %>'s <%= link_to 'request', answer_request_path(answer, request) %></h4>
                    <% end %>
                <% end %>
            <% end %>
        <% else %>
          <h3>No Requests Made</h3>
        <% end %>
        <h2>Requests Awaiting Your Approval</h2><hr>
          <% @user.answers.each do |answer| %>
            <% answer.requests.each do |request| %>
              <% if request.deal == true %>
                <p><%= request.user.fullname %>'s <%= request.item.itemname %></p>
              <% end %>
            <% end %>
          <% end %>
      </div>

      <div class="row contact" >
        <h2>Contact Information</h2>
        <h4><%= @user.fullname %> </h4>
        <h5><%= @user.email %></h5>
        <h5> <%= @user.territory %>, <%= @user.country %> </h5>
      </div>
</div>
