<div class="container">
  <div class="col-md-6">
    <%= image_tag @answer.user.avatar.url(:thumb), :class => "imag" %>
    <h1> <%= @answer.user.fullname %>'s Itinerary </h1><hr>
  </div>
  <div class="col-md-8">
    <% binding.pry %>
    <div id="answerInfo">
      <h3>Flying From: <%= @answer.fromcountry %> </h3>
      <h3>Flying into: <%= @answer.toairport %></h3>
      <h3>Date Of Flight: <%= @answer.fulldate %>  </h3>
      <% if current_user.id != @answer.user.id %>
        <%= link_to "Request them to bring an item", new_answer_request_path(@answer), class:"btn btn-default" %>
      <% elsif current_user.id == @answer.user.id %>
        <%= link_to "Edit Flight", edit_answer_path, class: "btn btn-default", id:"editAnswer", remote: true %>
      <% end %>
    </div>
    <div id="answerRender">
      <%= render 'answerAlone' %>
      <button class="btn btn-default" id="goBack">Nevermind</button>
    </div>
  </div>
</div>
