<div class="container">
  <div class="row">
    <div class="col-md-12 bringItem">
      <h1>Bring Request</h1><hr>
    </div>
    <div class="col-md-4">
      <%= image_tag @request.item.itemimage.url(:medium) %>
    </div>
    <div class="col-md-4">
      <h2><%= @request.user.fullname %> needs their <%= @request.item.itemname %> brought from <%= @request.fromcountry %> to <%= @request.airport %> </h2>
      <h3> Between <%= @request.startdate %> - <%= @request.enddate %></h3>
      <h5><%= @request.airport %></h5>
    </div>
    <div class="col-md-4">
      <%= render 'form' %>
    </div>
  </div>
</div>
