  <div class="container">
    <div class="row">
      <h1> <%= link_to @answer.user.fullname, user_path(@answer.user) %> is interested in taking your <%= @request.item.itemname%></h1>
      <h1><%= image_tag @request.item.itemimage.url(:medium) %></h1>
    </div>
    <h3><%= @answer.description %></h3>
    <h4>Arriving at <%= @answer.toairport %> on <%= @answer.fulldate %></h4>

    <button class="btn btn-primary">Let <%= @answer.user.fullname %> Take Your <%= @request.item.itemname %></button>
  </div>
