
<h1>Request <%= @answer.user.fullname %> to bring an Item on <%= @answer.fulldate %> </h1><hr>
    <div class="col-md-4">
      <h3>From: <%= @answer.fromcountry %>
    </div>
    <div class="col-md-4">
      </h3> <%= image_tag(('horizontalArrow.png'), class:"zontalArrow") %>
    </div>
    <div class="col-md-4">
       <h3> To: <%= @answer.toairport %>  </h3>
    </div>
  <%= bootstrap_form_for [@answer, @request] do |f| %>
      <div class="dates">
        <h4>Pick A Starting Date</h4><hr>
      </div>

      <div class="field form-group col-md-4">
        <%= f.hidden_field :daystart, value: "No" %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.hidden_field :monthstart, value: "No" %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.hidden_field :yearstart, value: "No" %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.hidden_field :dayend, value: @answer.day %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.hidden_field :monthend, value: @answer.month %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.hidden_field :yearend, value: @answer.year %>
      </div>

      <div class="field form-group">
          <%= f.hidden_field :fromcountry, value: @answer.fromcountry %>
      </div>

      <div class="field form-group">
        <%= f.hidden_field :airport, value: @answer.toairport %>
      </div>
      <div class="field form-group">
        <%= f.hidden_field :deal, value: true %>
      </div>
      <br>

    <div class="actions form-group centered">
      <%= f.submit "Add An Item", class:"btn btn-primary" %>
    </div>
    <% end %>
