<div class="container request_index">

  <% if @requests.where(done:false).any? %>
    <h2>Requests</h2>
    <table class="table ">
      <thead>
        <tr>
          <th>Image</th>
          <th>Item</th>
          <th>Flying To</th>
          <th>Flight From</th>
          <th>Between The Dates Of</th>
          <th>User</th>
          <th>Request Page</th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |request| %>
          <% unless request.done == true %>
            <tr>
              <td> <%= image_tag request.item.itemimage.url(:thumb), class: "roundThumb"%></td>
              <td> <br><br> <%= request.item.itemname %> </td>
              <td> <br><br> <%= request.torequest.airport %> </td>
              <td> <br><br> <%= request.fromrequest.airport %> </td>
              <td> <br><br> <%= request.startdate %> - <%= request.enddate %> </td>
              <td> <br><br> <%= link_to request.user.fullname, user_path(request.user) %> </td>
              <td> <br><br> <%= link_to "View", request_path(request), class:"btn btn-default" %> </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="centered footer">
      <h2>There Are No Requests Currently Posted <%= link_to "Click Here", new_request_path, class:"btn btn-primary" %> To Add A Request! </h2>
    </div>
  <% end %>
</div>
