<div class="container">
    <h2>Requests</h2>
    <table class="table ">
      <thead>
        <tr>
          <th>Image Of Item</th>
          <th>Item</th>
          <th>Flying To</th>
          <th>Flight From</th>
          <th>Between The Dates Of</th>
          <th>User</th>
          <th>Request Page</th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |request| %>
          <tr>
            <td> <%= image_tag request.item.itemimage.url(:thumb), class: "roundThumb"%></td>
            <td> <br><br> <%= request.item.itemname %> </td>
            <td> <br><br> <%= request.torequest.airport %> </td>
            <td> <br><br> <%= request.fromrequest.airport %> </td>
            <td> <br><br> <%= request.startdate %> - <%= request.enddate %> </td>
            <td> <br><br> <%= link_to request.user.fullname, user_path(request.user) %> </td>
            <td> <br><br> <%= link_to "View", request_path(request), class:"btn btn-default" %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>




<!--
<div class="container">
<h2>All Delivery Requests</h2><hr>
<div class="list_text_size">
    <% @requests.each do |request| %>
    <div class="delivery_index">
      <ul>
          <hr><li> <%= image_tag request.item.itemimage.url(:thumb)%> <%= link_to request.item.itemname, request_path(request) %> || Coming From: <%= request.fromrequest.airport %> || Going To: <%= request.torequest.airport %></li><hr>
      </ul>
    </div>
    <% end %>
  </div>
</div> -->
