  <div class="container">
    <div class="user_request_box">
      <br>
    <% if current_user.id == @request.user.id %>
    <% if @deal.flightdeal == false && @deal.requestdeal == true %>
        <div class="centered">
          <h3> Still Waiting To Hear Back Whether <%= @flight.user.fullname %> Will Take Your <%= @request.item.itemname %></h3><br>
        </div>
    <% elsif @deal.flightdeal == true && @deal.requestdeal == false %>
      <div class="centered">
        <h3><%= @flight.user.fullname %> Is Interested In Taking Your <%= @request.item.itemname %></h3><br>
      </div>
      <% elsif @request.done == true %>
        <div class="centered">
          <h3>Confirmed: <%= @flight.user.fullname %> Is Taking Your <%= @request.item.itemname %></h3><br>
        </div>
      <% end %>
    <% end %>
        <table class="table table-bordered">
          <div class="col-md-12">
            <tbody>
              <tr>
                <%if current_user.id == @request.user.id %>
                  <div class="col-md-3">
                    <td><%= image_tag @flight.user.avatar.url(:thumb), class:"roundThumb" %></td>
                  </div>
                  <div class="col-md-6">
                    <td> <%= @flight.description %> </td>
                  </div>
                  <div class="col-md-3 fright">
                    <td><%= image_tag @request.item.itemimage.url(:thumb), class:"roundThumb" %></td>
                  </div>
              <% end %>
              </tr>
            </tbody>
          </div>
        </table>
        <br><br>
      </div>
        <div class="col-md-12 map_box">
          <div class="col-md-4">
            <h5>Flying From: <%= @flight.fromflight.airport %> </h5><br>
            <div class="fromLat" data-lat="<%= @flight.fromflight.latitude %>"></div>
            <div class="fromLng" data-lng="<%= @flight.fromflight.longitude %>"></div>
            <div id="frommap" class="littleMaps"></div>
          </div>
          <div class="col-md-4">
              <h4><%= @flight.fulldate %></h4>
            <% if current_user.id == @request.user.id && @deal.flightdeal == false && @deal.requestdeal == true %>
            <div class="decide_buttons">
              <button class="btn btn-default nevermind" data-toggle="modal" data-target="#modalCancel">Nevermind</button>
            </div>
            <% elsif current_user.id == @request.user.id && @deal.flightdeal == true && @deal.requestdeal == false %>
            <div class="decide_buttons">
              <button class="btn btn-default" data-toggle="modal" data-target="#modalTake">Let Em Take It</button>
              <button class="btn btn-default" data-toggle="modal" data-target="#modalNo">No Thanks</button>
            </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <h5>Flying To: <%= @flight.toflight.airport %> </h5><br>
            <div class="toLat" data-lat="<%= @flight.toflight.latitude %>"></div>
            <div class="toLng" data-lng="<%= @flight.toflight.longitude %>"></div>
            <div id="tomap" class="littleMaps"></div>
          </div>
          <div class="col-md-1"></div>
        </div>



        <div class="modal" id="modalCancel">
          <div class="modal-dialog1">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Take Back The Request</h3>
                <div class="modal-body">
                  <p>Are You Sure You Want To Take Back Your Request  <%= @flight.user.fullname %> Taking Your <%= @request.item.itemname %></p>
                  <%= link_to "I'm Sure", request_flight_path(@request, @flight, toggle:false), method: :patch, class:'btn btn-primary'%>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="modal" id="modalTake">
            <div class="modal-dialog1">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">Take It</h3>
                  <div class="modal-body">
                    <p>Are You Sure You Want <%= @flight.user.fullname %> To Take Your <%= @request.item.itemname %></p>
                    <%= link_to "I'm Sure", flight_request_path(@flight, @request, toggle:true), method: :patch, class:'btn btn-primary'%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="modalNo">
            <div class="modal-dialog1">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">Decline</h3>
                  <div class="modal-body">
                    <p>Are You Sure You Want To Decline?</p>
                    <%= link_to "I'm Sure", flight_request_path(@flight, @request, toggle:false), method: :patch, class:'btn btn-primary'%>
                  </div>
                </div>
              </div>
            </div>
          </div>

  </div>
