<div class="container">

  <div class="col-md-4">
    <%= image_tag @request.item.itemimage.url(:medium) %>
    <%= link_to "Bring Item", new_request_answer_path(@request) %>
  </div>
  <div class="col-md-4">
    <h1><%= @request.item.itemname %></h1>
    <h4><%= @request.item.itemdescription %></h4>
    <h2><%= @request.fromcountry %></h2>
    <h3><%= @request.airport %></h3>
    <h3>Between The Dates of: <%= @request.startdate %> - <%= @request.enddate %></h3>
    <h3> <%=  link_to  @request.user.fullname, user_path(@request.user) %></h3>
    <h4> <%= @request.user.email %></h4>

    <% if current_user.id == @request.user_id %>
    <%= link_to "Edit", edit_request_path %>
    <%= link_to "Delete", request_path(@request),
                           :data => {:confirm => "Ya sure mate?",
                                     :method => "delete"} %>
      <% else %>
      <% end %>
  </div>
  <div class="col-md-4 google">
    <h2>This is where I'm Going to put in the google map API to show where I would actually like to have this thing delievered but I'm writing a bunch of text so you can see the actual column adjustment.</h2>
  </div>
</div>
