

<%= bootstrap_form_for [@request, @item] do |f| %>
  <div class="field form-group">
    <%= f.text_field :itemname, label: 'Name Of Item' %>
  </div>
  <div class="field form-group">
    <%= f.text_field :itemdescription, label: 'Description Of Item' %>
  </div>
  <div class="field form-group">
        <%= f.file_field :itemimage, label: 'Profile Picture'%>
  </div>
  <div class="actions form-group">
    <%= f.submit "Post Item", class:"btn btn-primary" %>
  </div>

<% end %>
<%= link_to "Nevermind", request_path(@request), class:"btn btn-default", id:"backToNorm", remote:true %>
