<div class="container">
  <h2>Between <%= @request.monthstart %> <%= @request.daystart %>,  <%= @request.yearstart %> and <%= @request.monthend %> <%= @request.dayend %>, <%= @request.yearend %></h2>
  <h3>From: <%= @request.fromcountry %> </h3>
  <h3>To: <%= @request.airport %> </h3>
    <h2>What Item Would You Like To Bring?</h2><hr>
    <%= render 'form' %>
</div>
