<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GIT IT</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "Make A Delivery Request", new_request_path %></li>
        <li><%= link_to 'Requests', requests_path %></a></li>
        <li><%= link_to 'Add A Flight', new_flight_path %></li>
        <li><%= link_to 'Outgoing Flights', flights_path %></a></li>

        <% if user_signed_in? %>
        <li><%= link_to 'Profile', user_path(current_user) %></a></li>

        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
